<%#
 % Error page.
 %%>

<% include header1.ejs -%>
<title>Error <%= l.status %> – FFmpeg FATE</title>
<% include header2.ejs -%>
Error <%= l.status %>
<% include header3.ejs -%>

<% if (l.error) { -%>
  <pre>
    <%= l.error.stack %>
  </pre>
<% } else { -%>
  <%= l.message -%>
<% } -%>

<% include footer.ejs -%>
