<%#
 % Index page.
 %-%>

<% include header1.ejs -%>
<title><%= l.util.branding %> FATE</title>
<% include header2.ejs -%>
<%= l.util.branding %> FATE
<% include header3.ejs -%>

<p>
  The FFmpeg Automated Testing Environmnet is the continuous integration
  testing platform of FFmpeg. It aggregates results of regression tests of
  FFmpeg from machines of various architectures and operating systems of
  volunteers, to make sure nothing breaks in our new commits.
</p>
<p>
  If you would like to contribute test results on your own system, see the
  <a href="//ffmpeg.org/fate.html">official documentation</a> on doing so.
</p>

<ul class="nav nav-tabs" role="tablist">
<% for (var i = 0; i < l.branches.length; i ++) { -%>
  <li role="presentation"
    <% if (l.branches[i] === l.branch) { -%>
      class="active"
    <% } -%>
  >
    <a href="/<%- l.branches[i] %>"><%= l.branches[i] %></a>
  </li>
<% } -%>
</ul>

<div class="table-responsive">
  <table class="replist table footable" id="index">
    <% var propsToDisplay = [ 'date-link', 'rev', 'subarch', 'os', 'cc'
                            , 'comment','nwarn', 'results'
                            ]
         , hide = { comment: 'xs,phone,sm'
                  , nwarn  : 'xs,phone,sm,md'
                  , cc     : 'xs,phone'
                  , rev    : 'xs,phone,sm'
                  , subarch: 'xs'
                  }
         , ignoreTimestamp = false
         , compareWithPrev = true -%>
    <% include replist.ejs -%>
  </table>
</div>
<% include footer.ejs -%>
